VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_ID=
SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_SECRET=
TEST_EMAIL=
TEST_PASSWORD=
VITE_LOGROCKET_APP_ID=
VITE_LOGROCKET_DISABLED=true
VITE_LOGROCKET_CAPTURE_EMAIL=false
VITE_RELEASE_SHA=
